[credential]
	helper = osxkeychain
[user]
	name = monkafrog
	email = saphal1998@gmail.com
	signingkey = "~/.ssh/id_ed25519.pub"
[commit]
	gpgsign = true
[gpg]
	format = ssh

[alias]
	logadog = log --oneline --decorate --graph --all

[diff]
	algorithm = patience
	compactionHeuristic = true
	tool = nvimdiff

[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"

[merge]
	tool = nvimdiff4
	prompt = false
[mergetool "nvimdiff4"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[interactive]
	diffFilter = delta --color-only

[delta]
	features = side-by-side line-numbers decorations
	navigate = true
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none

[mergetool]
	keepBackup = false

[rerere]
	enabled = true
